<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ShopMnagementSystem.Properties.Settings.ShopManagerConnectionString"
            connectionString="Data Source=.;Initial Catalog=ShopManager;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ShopMnagementSystem.Properties.Settings.ShopManageConnectionString"
            connectionString="Data Source=.;Initial Catalog=ShopManage;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"
            providerName="System.Data.SqlClient" />
        <add name="ShopMnagementSystem.Properties.Settings.ShopManageConnectionString1"
            connectionString="Data Source=.;Initial Catalog=ShopManage;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ShopMnagementSystem.Properties.Settings.ShopManageConnectionString2"
            connectionString="Data Source=.;Initial Catalog=ShopManage;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>